@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Mukta:wght@200;300;400;500;600;700;800&family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #516dff;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.choose-insect-btn img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
